
body{

    background-image: url(' background.jpg') ;
    
    background-size: cover;
    
    background-repeat:no-repeat ;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
    }
    
      
    
    .container-box {
    
    padding: 80px;
    
    padding-right: 80px;
    
    margin: 80px;
    
    margin-right: 60px;
    
     text-align: center;
      align-items: center;
    
    }
    
      
    
    .container-box img{
    
    background-size: cover;
    
    background-repeat: no-repeat;
    
    }
    
      
    
    .input-field {
    
    padding: 7px;
    
    margin: 7px;
    
    outline: none;
    border-radius: 30px;
    border: none;

    
    
    box-shadow: 2px 2px 2px 1px black;
    
    width: 250px;
    
    max-width: 600px;
    
    max-height: 600px;
    
    background-color: rgb(236, 227, 227);
    
    }
    
      
    
    .input-field:focus {
    
    background-color: white;
  
    
    }
    
      

    form{
        margin-left: 190px;
    }

    .btn_submit

        {
          background: #5E5DF0;
          border-radius: 999px;
          box-shadow: #5E5DF0 0 10px 20px -10px;
          box-sizing: border-box;
          color: #FFFFFF;
          cursor: pointer;
          font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          opacity: 1;
          outline: 0 solid transparent;
          padding: 8px 18px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          width: fit-content;
          word-break: break-word;
          border: 0;
        }

    #arrow{
        width: 20px;
        height: 20px;
    }

    h1{
        color: #5E5DF0;

    }
    hr{
        border: none;
        width: 140px;
        height: 5px;
        border-radius: 10px;
        background-color: #191945;

    }
